

@using Shared.Model.Response;
@model LevelInfo

@{
    var starImages = new[] { "star1.png", "star2.png", "star3.png", "star4.png", "star5.png" };
   
    Layout = null;
}

<div class="point-symbol-radio-list">





    @for (var i = 0; i < starImages.Length; i++)
    {
        var starValue = $"star{i + 1}";
        <div class="point-symbol-radio-item">

            <input type="radio" name="@Model.Id" value=@starValue id="@($"{Model.Id}{i}")" @("star" + (i + 1) == Model.StoppageImage ? "checked" : "")>
            <label for="@($"{Model.Id}{i}")">
                <img src="~/assets/images/@starImages[i]" />
            </label>
        </div>
    }
    <p class="mb-0 stopage-select-msg">
        Select Stoppage Icon
    </p>
</div>
