@{
    ViewData["Terms"] = "Terms Of Services";
    Layout = "_LayoutPolicies";
}
<h1>@ViewData["Terms"]</h1>

   
  
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 40px;
            color: #333;
        }

        h1, h2 {
            color: #444;
        }
    </style>




    <p>By using Orp, you agree to the following terms and conditions.</p>

    <p><strong>Orp</strong> is a productivity app that helps you stay organized and focused. It uses AI technology to sync your schedules, generate personalized to-do lists, and gamify your tasks with points and rewards. By using Orp, you agree to use it only for lawful purposes and to not violate any applicable laws or regulations.</p>

    <p>Orp reserves the right to modify or terminate the service at any time, without any prior notice. Orp also reserves the right to refuse service to anyone, for any reason. You are solely responsible for any content you create or upload to Orp, and you grant Orp the right to use, modify, and distribute that content to provide the service. You acknowledge that Orp owns all intellectual property rights in the app and any related materials. You may not copy, modify, distribute, or sell any part of Orp without our prior written consent.</p>

    <p>Orp is provided on an "as is" and "as available" basis, and we do not make any warranties or representations about the app or its content. We are not liable for any damages arising from the use or inability to use Orp. By using Orp, you agree to indemnify and hold us harmless from any claims, damages, or liabilities arising from your use of the app.</p>

    <p>These terms of service shall be governed by and construed in accordance with the laws of the state of Victoria, without giving effect to any principles of conflicts of law. Any dispute arising from or relating to these terms of service shall be resolved by binding arbitration under the rules of Australia. If any provision of these terms of service is found to be invalid or unenforceable, the remaining provisions shall remain in full force and effect. These terms of service constitute the entire agreement between you and Orp regarding the use of the app.</p>

