@using Shared.Common;
    @using Shared.Model.Request.Account;
@model ResetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @await Html.PartialAsync("_AccountPagesCSSPartial")
    <title>Reset Password</title>
    <style>
        .main-body {
            background: #ededed;
        }

        .outer-box {
            padding: 30px;
            border-radius: 10px;
            background: #fff;
        }

        h1 {
            font-size: 28px;
        }

        

        .form-control {
            height: 48px;
            background: #fff;
            border-radius: 10px;
            padding-left: 42px;
        }

        .btn {
            padding: 12px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
            background: #0078D4;
        }

        .input_icon {
            position: absolute;
            top: 12px;
            left: 12px;
        }
    </style>
</head>
<body class="outer">

    <!-- main-body -->
    <main class="main-body">
        <div class="content">

            <!-- content -->
            <div class="row flex-fill g-0" style="height: 100vh;">
                <div class="col-md-12 d-flex align-items-center justify-content-center">
                    <div>
                    <div class="text-center mb-4 w-100"><img src="/assets/images/logo.png" style="max-width:100px"></div>
                    <div class="outer-box" style="width:450px">
                        
                        @if (Model.IsInvaildToken)
                        {
                            <div class="outer-box-header">
                                <h1>Reset Password</h1>
                            </div>
                            <form id="RestPasswordFrm">
                                <input asp-for="Token" type="hidden" />
                                <div class="row g-3">
                                    <div class="col-md-12">
                                            <label class="form_label">Password</label>
                                        <div class="position-relative">
                                                <img src="/assets/images/passwordIcon.svg" class="input_icon">
                                            <input type="password" asp-for=Password class="form-control input-password" placeholder="Password" maxlength="20" />
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12">
                                            <label class="form_label">Confirm Password</label>
                                        <div class="position-relative">
                                                <img src="/assets/images/passwordIcon.svg" class="input_icon">
                                            <input type="password" asp-for=ConfirmPassword class="form-control input-password" placeholder="Confirm Password" maxlength="20" />
                                        </div>
                                          
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12 pt-2">
                                        <button class="btn btn-primary w-100 text-center" type="button" onclick="ResetPassword(this)">Submit</button>
                                    </div>
                                  
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="row g-3">

                                <div class="errorPage">
                                    <div class="errorPage_container">
                                        <div class="d-logo">
                                            <img src="../assets/images/logo.png" alt="logo" style="max-width: 120px" />
                                        </div>


                                    </div>
                                </div>
                                <div class="outer-box-header">
                                    <h1 style="font-size: 20px; font-weight: 600; margin-bottom: 30px;">
                                        Oops! It seems the password reset link has lapsed. Please proceed to request a fresh link to reset your password.
                                    </h1>
                                </div>
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- Js -->
    @await Html.PartialAsync("_JsScriptsPartial")
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_CommonScriptsPartial")
    <environment include="Development">
        <script src="~/sitejs/loginsignup.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/loginsignup.min.js"></script>
    </environment>
</body>
</html>